input {
  kafka {
    bootstrap_servers => "{% for host in groups['kafka'] %}{{ host }}:9092{% if not loop.last %},{% endif %}{% endfor %}"
    topics => ["k8s"]
    client_id => "k8s"
    group_id => "logstash-01"
    auto_offset_reset => "latest"
    consumer_threads => 3
    decorate_events => true
  }
}

filter {
  json {
    source => "message"
    remove_field => [ "beat" ]
  }
}

output {
  elasticsearch {
    hosts => [{% for host in groups['client'] %}"http://{{ host }}:9200"{% if not loop.last %},{% endif %}{% endfor %}]
    index => "logs-%{[@metadata][topic]}-%{+YYYY-MM-dd}"
    timeout => 300
  }
}
